<app-carrusel></app-carrusel>
<div class="container" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col">
            <img src="../../../assets/img/inicio/piscina.jpeg" class="imgIni  rounded float-right" alt="Trabajo en piscina"></div>
            <div class="col ">
                <h4 class="text-center align-text-bottom">NUESTRA EXPERIENCIA ES EL MEJOR RESPALDO</h4>

                <h5 class="align-text-top">Contamos con un extenso portafolio de servicios que se acomodan a todo tipo de
                          proyectos,desde galpones, y bodegas hasta edificios de oficinas, comercio y vivienda.
                </h5>
                <h5>Nos fundamos bajo la premisa de ofrecer un servicio de calidad y
                          en tiempo record
                </h5>
                <a [routerLink]="['nosotros']">
                    <button type="button" class="btn btn-warning">Nosotros</button>
                </a>
            </div>
        </div>
    </div>
