<footer>
    <div class="container">
        
        <div class="row">
            <div class="col" >
                <h3 class="font-weight-bold">Inoxstore</h3>
                <p>La confianza y seguridad  que su proyecto necesita. Contactenos</p>
            </div>
            <div class="col">
                <h3 class="font-weight-bold">SOLUCIONES</h3>
                <p>Estructuras de Acero Inoxidable</p>
                <p>Estructuras de Aluminio</p>
                <p>Instalacion de estructuras metalicas</p>
                <p>Diseño a la medida</p>
            </div>
            <div class="col">
                <h3 class="font-weight-bold">CONTACTO</h3>
                <a href="https://www.google.com/maps/place/Tecnoaceros/@7.1127258,-73.1297126,19z/data=!3m1!4b1!4m5!3m4!1s0x8e683fd224c0710b:0xdb1e241414597268!8m2!3d7.1127258!4d-73.1297126" target="_blank">Cra. 9 #44-43, Bucaramanga, Santander</a>
                <p>inoxstore@outlook.com</p>
                <p>+ 57 315 786 85 73</p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center text-md-left">© 2020 Copyright:
                    <a target="_blank" href="https://github.com/Crisfon6">
                        <strong>Crisfon6</strong>
                    </a>
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/Inox-Store-702817666875486/">
                            <img src="../../../assets/img/icons/facebook.png" class="img-fluid" alt="facebook"></a>
                        </div>
                        <div class="col">
                            <a target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1" href="https://wa.me/573157868673">
                                <img src="../../../assets/img/icons/whatsapp.png" class="img-fluid" alt="whatsapp"></a>
                            </div>
                            <div class="col">
                                <a target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1" href="mailto:inoxstore@outlook.com">
                                    <img src="../../../assets/img/icons/correo.png" class="img-fluid" alt="Instagram"></a>
                                </div>
                                
                    </div>
                </div>
            </div>
        </div>
    </footer>
