<div class="container">
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Ubicacion
            </h5>
            <p class="card-text">
                Cra. 9 #44-43, Bucaramanga, Santander
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Contacto
            </h5>
            <p class="card-text">
                +57 315 786 85 73
            </p>
            <div class="row">
                <div class="col">
                    <a target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1"
                    href="https://www.facebook.com/Inox-Store-702817666875486/">
                    <img src="../.././../assets/img/icons/facebook.png"  alt="facebook">
                  </a>
                </div>
                <div class="col">
                    <a target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1" href="https://wa.me/573157868673">
                        <img src="../.././../assets/img/icons/whatsapp.png"  alt="instagram">
                      </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Correo
            </h5>
            <p class="card-text">
                InoxStore@outlook.com
            </p>
            <a target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1" href="mailto:inoxstore@outlook.com">
                <img src="../.././../assets/img/icons/correo.png"  alt="correo">
              </a>
        </div>
    </div>
</div>
</div>