<div class="container">

<div class="card mb-3">
    <img src="../../../assets/img/nosotros/mision.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">Mision</h5>
      <p class="card-text">Nos comprometemos a diseñar, fabricar e instalar estructuras metálicas, obras civiles,
        y acabados arquitectónicos, con calidad, y eficiencia. Se realizan obras en todo el país, apoyandonos en
        la seguridad social y proteccion ambiental.</p>
      
    </div>
  </div>
  <div class="card mb-3">
    <img src="../../../assets/img/nosotros/vision.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">Vision</h5>
      <p class="card-text">Nuestra empresa alcanzará y sostendra el máximo posicionamiento y liderazgo a nivel
        nacional, en el diseño fabricación y montaje de estructuras metálicas, obras civiles y acabados
        arquitectónicos.</p>
      
    </div>
  </div>
  <div class="card mb-3">
    <img src="../../../assets/img/nosotros/valores.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Principios y valores</h5>
        <ul>
            <div class="row">
                <div class="col">
          <li>Integridad</li>
          <li>Bienestar</li>
          <li>Servicio al cliente</li>
        </div>
        <div class="col">
          <li>Honestidad</li>
          <li>Excelencia en el trabajo realizado</li>
          <li>Solidaridad</li>
        </div>
        </div>
        </ul>
      
    </div>
  </div></div>